<p id="notice"><%= notice %></p>

<h1>Listing Mma Picks Accesses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mma_picks_accesses.each do |mma_picks_access| %>
      <tr>
        <td><%= link_to 'Show', mma_picks_access %></td>
        <td><%= link_to 'Edit', edit_mma_picks_access_path(mma_picks_access) %></td>
        <td><%= link_to 'Destroy', mma_picks_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mma picks access', new_mma_picks_access_path %>
